body {
  font-family: Arial, sans-serif;
  background-color: #2e3133;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

  
  h1 {
    font-size: 2.5rem;
    color: #a0acb8;
  }
  
  .stopwatch-display {
    font-size: 2rem;
    font-weight: bold;
    color: #a0acb8;
  }
  
  .btn-group button {
    margin: 0 5px;
    border-radius: 10;
  }
  
  #laps {
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
  }
  
  #laps .list-group-item {
    font-size: 1rem;
    color: #212529;
  }
  